body {
  background: url("../fond/bois.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
nav {
  position: sticky;
  top: 0;
}

nav ul{
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

nav li{
  float: left;
}

nav li a{
  display: block;
  text-decoration: none;
  padding: 30px;
  color: white;
  font-size: 150%;
  font-variant: small-caps;
  font-family: copperplate gothic; 
}

nav li a:hover{
  background-color: black;
}

table tbody tr td a:hover{
  background-color: black;
}
